<?xml version="1.0" encoding="UTF-8"?>
<flow xmlns="http://www.springframework.org/schema/webflow"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/webflow
        http://www.springframework.org/schema/webflow/spring-webflow-2.0.xsd">
	<on-start>
		<evaluate expression="manager.getSettingsForInterDomainManager(null)" result="flowScope.settings" />	
        <evaluate expression="manager.getUserAuthParameters()" result="flowScope.authParameters" />
	</on-start>
	<decision-state id="check-idm">
    	<if test="flowScope.settings.idms== null ||flowScope.settings.idms.size()==0" then="no-idm-regitered" else="settings"/>		
	</decision-state>
	<view-state id="settings" view="secure/settings_out" model="settings">
		<transition on="restart" to="settings" bind="true">
			<evaluate expression="manager.setPropertiesForInterDomainManager (flowScope.settings.currentIdm, flowScope.settings.properties)"></evaluate>
			
		</transition>
		
		<transition on-exception="java.lang.Exception" to="settings"> 
			<evaluate expression="exceptionTranslator.translateException(flowRequestContext, flowExecutionException)"/>
		</transition>
		
	</view-state>

	<end-state id="no-idm-regitered" view="secure/noIDMRegistered"/>

</flow>